#dashboard{
    position: absolute;
   margin-left: 25vw;
   margin-top: 8vh;
   display: grid;
     grid-template-columns: repeat(3,1fr);
    grid-gap: 3vw;

 

}


.display{
    background-color: #fff;
    color: #000;
    font-weight: 500;
    height: auto;
    width: 20vw;
    border-radius: 5px;
    box-shadow: 0 0 7px #000;
    display: flex;
    flex-direction: column;
   
   

}
.display .bottom{
    margin-top: 5vh;
}

.display h2{
    position: relative;
    top: 2vh;
    margin-left: 1vh;
    height: 10vh;
    

    
}

i{
    margin-left:2vw;
    
}

