*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body{
	font-family: Verdana;
	font-size: 16px;
	line-height: 1.6em;
	background-color: #f4f4f4;
	/* background: url("./images/arnold.jpg"); */
	background-size: cover;

}

header{
	display: flex;
	justify-content: space-between;
	background-color: #228999;
	height: 10vh;

}
header a{
	text-decoration: none;
	color: #333;

}

header .logo{
	/* position: relative; */
	/* right: 10vw; */
	margin-left: 10vw;
	margin-top: 3vh;
	/* color: #333; */
	text-transform: uppercase;
}

header .nav{
	/* position: relative; */
	margin-top: 3vh;
	margin-right: 10vw;

}
header .nav a{
	text-decoration: none;
	padding: 0 20px 0 20px;
	color: #f4f4f4;

}
header .nav a:hover{
	border: 0;
	transition:0.25s ease;
	background: #0ac4e031;
}

#hero_section .content{
	position: absolute;
	margin-top: -65vh;
	margin-left: 30vw;
	/* margin-right: 40vw; */
}

.content h3{
	font-size: 30px;
	letter-spacing: 5px;
	width: 100%;
	color: #fff;

}

.content button{
	width: 10vw;
	height: 5vh;
	margin-top: 2vh;
	background-color: rgba(255, 0, 0, 0.877);
	border-radius: 20px;
	border: 0;
	color: white;
	cursor: pointer;
}

.content button:hover{
	background-color:  rgb(255, 0, 0);
}