*{
	scroll-behavior: smooth;
	margin: 0px;
	box-sizing: border-box;
	padding: 0px;
}

body{
	font-family: Verdana;
	font-size: 16px;
	background-color: #fff;

}

header{
	height: 10vh;
	background-color: #fff;
	display: grid;
	grid-template-columns: 1fr 1fr;
	z-index: 2;

	}

header .logo{
	position: relative;
	top: 2vh;
	left:5vh;
}

header .logo h2{
	color: #000;
}
header .nav_bar{
	position: relative;
	top: 2vh;


}
header .nav_bar a{
	text-decoration: none;
	
	margin-right: 5vh;
	color: #000;


}

#hero_section{
	background: url("hero1.jpg");
	background-size: cover;
	height: 90vh;
}

.cont{
	position: relative;
	top: 20vh;
	margin-left: 10vh;

}

.cont p{
	font-size: 25px;
	line-height: 2em;
	color: #fff;
	margin-bottom: 5px;
}
.cont h2{
	color: #fff;
	font-weight: 900;
	margin-bottom: 10px;
	line-height: 2em;
	font-size: 50px;
}

.cont button{
	border: 0;
	border-radius: 20px;
	width: 25vh;
	height: 7vh;
	background-color: #c226;
}

.cont button a{
	color: #fff;
	text-decoration: none;
	text-align: center;
}
.cont button:hover{
	transition: 0.25s;
	transform: scale(1.1);

}

#donor_section{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 5vh;
	text-align:start;
	margin-left:5vh;
	margin-right: 5vh;
	height: 40vh;
	margin-bottom: 5vh;
}
#donor_section h2{
	color: #333;

}

#donor_section .donor{
	margin-right: 20px;
	background: #fff;
	color: #333;
	line-height: 1.1em;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	/* grid-auto-rows: 50%; */
	/* border-radius: 20px; */
	grid-gap: 0px;
}
#donor_section .How{
	margin-right: 20px;
	background: #fff;
	color: #333;
	line-height: 1.1em;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	/* grid-auto-rows: 15%; */
	/* border-radius: 20px; */
}

#donor_section .why{
	margin-right: 20px;
	background: #fff;
	color: #333;
	line-height: 1.1em;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	/* grid-auto-rows: 15%; */
	/* border-radius: 20px; */
	
}

#donor_section h2{
	text-align: center;
	margin-top: 7vh;
	font-size: 25px;

}
#donor_section p{
	margin-left: 5vh;
	margin-bottom: 0;
}
#donor_section button{
	width: 50%;
	margin-left: 13vh;
	border-radius: 20px;
	background-color: #9e1212a9;
	margin-top: 0;
	height: 40px;
	

}

#donor_section button a{
	text-decoration: none;
	color: #fff;
}

#donor_section button:hover{
	transition: 0.25s;
	transform: scale(1.1);
}

#call{
	background: url("rename.jpg");
	background-size: cover;
	height: 50vh;
}

#call .opacity{
	background-color: #000;
	opacity: 0.9;
	height: 50vh;
	color: #fff;
	

}

#call .content{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	top: 10vh;
	margin-left: 20vh;
}

#call .content img{
	height: 10vh;
	width: 6vw;
	position: relative;
	left: 70px;
	
}

#call .content h3{
	margin-top: 25px;
	position: relative;
	left: 40px;
	font-size: 20px;
	margin-bottom: 4vh;

}

#call .content p{
	position: relative;
	right: 35px;
	font-size: 30px;
	font-weight: 500;

}
#call .content p b{
	font-weight: 900;
}

#call .location {
	display: flex;
	flex-direction: row;
	flex-basis: 20px;
	justify-content: space-between;
}
#call .location p{
	font-size: 16px;
	margin-right: 20px;
	margin-top: 4vh;

}