*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body{
background-color:#fff;
line-height: 1.5em;
}

.Details{
    text-align: center;
    font-size: 20px;
    /* margin-top: 5vh; */
    background-color: #1F51FF;
    height: 10vh;
    box-shadow: 0 0 0 3px #f4f4f4;
    margin-bottom: 3vh;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

    


}
.Details h3{
    position: relative;
    top: 2vh;
    color: white;
    
}
form {
    position: relative;
    margin-right: 10vw;
    margin-left: 10vw;
    margin-top: 4vh;
    /* top: 0; */
    box-shadow: 0 0 0 3px #f4f4f4;
    border-radius: 20px;

}

form .register{
    display: flex;
    flex-direction: column;
    width: 70%;
    position: relative;
    left: 10vw;
    
}

.register label{
    margin-bottom: 1vh;
    margin-top: 1vh;
    font-size: 17px;
    font-weight: 500;

}

.register input{
    height: 3.7vh;
    border: 1px solid #dddada;
    box-shadow: 0 0 0 3px #f4f4f4;

}
.register input:focus{
        transition: 0.25s ease-in;
        border-radius: 5px;
        outline: none;
        /* border: 1px solid #1F51FF; */
        box-shadow: 0 0 0 3px #b7daf7;

            
}

select{
    height: 3.7vh;
    border: 1px solid #dddada;
    box-shadow: 0 0 0 3px #f4f4f4;
}
.sub{
    display: flex;
}
.sub button{
    width: 10vw;
    height: 4.7vh;
    margin-top: 1vh;
    margin-left: 2vw;
    border-radius: 5px;
    background-color: #333;
    color: white;
}
.sub input[type="submit"].back:hover{
    background-color: rgba(51, 51, 51, 0.966);
}
.register input[type="submit"]{
    width: 10vw;
    margin-top: 1vh;
    background-color: #1F51FF;
    color: #fff;
    height: 5vh;
    border-radius: 5px;
    margin-bottom: 5vh;

}

.register input[type="submit"]:hover{
    background-color: #1547fc;
}
select:focus{
    transition: 0.25s ease-in;
    border-radius: 5px;
    outline: none;
    /* border: 1px solid #1F51FF; */
    box-shadow: 0 0 0 3px #b7daf7;
}