body{
	background: #f4f4f4;
	margin: 0px;
	padding: 0px;
	font-family: Verdana;
	font-size: 16px;
	line-height: 1.5em;
}
header{
	height: 50px;
	background: #38acec;
	margin-bottom: 0px;
}
#Hero_section{
	background: url("abt3.jpg") no-repeat;
	height: 800px;
	background-size: contain;
	margin: 0px;

}
