a{
	color: #fff;
	text-decoration: none;
	transition: ease 0.3s;
	
}

header a:hover{
	border-bottom: 1px solid #fff;
	transition: ease 0.3s;
}

body{
	background: white;
	padding: 0;
	margin: 0px;
	line-height: 1.5em;
	box-sizing: border-box;
	font-family: verdana;
	font-size: 16px;
/*	margin: 20px;*/
}

header{
	display: grid;
	grid-template-columns: 2fr 3fr 1fr;
	grid-template-rows: 1fr;
	grid-gap: 20px;
	height: 70px;
	width: 100%;
	background-color:#38ACEC ;
	/*margin-right: 20px;*/
	margin-right: 20px;
	/*margin-left: 20px;*/
	transition: 0.25s;
	position: fixed;
	top: 0;
	z-index: 2;
	box-shadow: 0px 0px 20px grey;

}

header .logo{
	margin: 20px;
	transition: 0.25s;

}

header .logo a{
	color: #fff;
	text-decoration: none;
	transition: 0.25s;
	
}

header .nav{
	margin: 20px;

}
header .nav a{
	padding: 0 20px 0 20px;
	text-decoration: none;
	/*text-transform: uppercase;*/
}

header .Sign{
	margin: 20px;
	padding: 0px 5px ;
}

header .Sign button{
	border: none;
	border-radius: 20px;
	background: #333;
	padding: 5px;
	transition: 0.25s;
}

header .Sign button a{
	border: none;
	transition: ease 0.3s;
	text-decoration: none;
}
header .Sign button:hover{
	background: #6495ED;
	transition: 0.25s;
	border-color: #333;
	
}

#Welcome{

	display: grid;
	grid-template-columns: 1fr 1fr;
	height: auto;
	background:url("sarah.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #f4f4f4;
	color: white;
	grid-gap:0 ;

}

.outer_div{
	box-sizing: border-box;
	background-color: black;
	opacity: 0.8;
	width: 100%;
	position: relative;
	/*top: 100px;*/
/*	display: flex;
	justify-content: center;
	align-items: center;*/
}

#Welcome .pic img{
	display: flex;
	flex-direction: row;
	height: 500px;
	width: 100%;
}

#Welcome .note{

	align-content: center;
	text-align: center;
	position: relative;
	top: 100px;
	/*display: grid;
	grid-template-rows: 100px;
	grid-auto-rows: 40%;
	position: relative;
	top: 100px;*/
}
#Welcome .note button{
	border: 0;
	width: 40%;
	background: #38ACEC;
	border-color:#2ecc71;
	border-radius: 20px;
	padding: 5px;
	margin-left: 20px;
	outline: none;
	text-align: center;
	transition: 0.25s;
	cursor: pointer;
	height: 20%;
}
#Welcome .note button:hover{
	width: 35%;
	background: #2ecc71;
}

#Welcome .note h3, #Welcome .note p{

	text-align: center;
	width: 100%;
	margin-left: 95px;
	display: grid;
	grid-auto-columns: 70%;
	/*grid-template-columns: 1fr;*/
	/*color: #333;*/

}

#Welcome .note h3{
	/*font-weight: 500;*/
	font-size: 25px;
	padding: ;
	line-height: 1.0em;

}

#Welcome .note p{
	font-weight: 500;
	font-size: 20px;
	line-height: 1.3em;
	color: white;

}
#Welcome .pic{
	margin-right: 0px;
	/*margin-left: 20px;*/
}
#About{
	margin: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
	grid-auto-columns: 30%;
	/*margin-right: 20px;*/
	/*margin-left: 20px;*/
	margin-bottom: 3px;
	background: #f4f4f4;
	border: none;
	/*border-radius: 20px;*/
	/*color: #f4f4f/*4*/;*/

}

#About .image1 img{
	margin: 20px;
	width: 100%;
	height: 300px;
}
#About .what{
	font-size: 20px;
	font-weight: 500;
	width: 80%;
	border: none;
	border-radius: 20px;
	background: #f4f4f4;
	/*color: #f4f4f4;*/
	transition: 0.25s;
	height: auto;
	text-align: center;

}
#About .what:hover{
	/*width: 90%;*/
	transition: 0.25s;
	margin: 5px;
}

#About .about{
	height: auto;
	display: flex;
	flex-direction: column;
	font-size: 20px;
	font-weight: 500;
	width: 100%;
	border: 1px solid lightgray;
	border-radius: 20px;
	background: #f4f4f4;
	/*color: #f4f4f4;*/
	transition: 0.25s;
	text-align: center;
}
#About .about:hover{
	transition: 0.25s;
	margin-left: 3px;
}

#About .about button{
	transition: 0.25s;
	border: none;
	width: 140px;
	height: 30px;
	background: #38ACEC;
	border-radius: 20px;
	color: white;

}
#About .what button{
	transition: 0.25s;
	border: none;
	width: 140px;
	height: 30px;
	background: #38ACEC;
	border-radius: 20px;
	color: white;
}
#About .what a{
	text-decoration: none;
	align-content: center;
	text-align: center;

}
#About .what a button:hover{
	background:#2ecc71 ;
	transition: 0.25s;
}
#About .about a button:hover{
	transition: 0.25s;
	background:#2ecc71 ;
}

#About  h2{
	color: #659DBD;
	font-size: 25px;
	text-align: center;

}
#About p{
	color: #333;
	font-size: 16px;
}

#imagespro{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-left: 20px;
	margin-top: 50px;
	margin-right: 20px;
	background: #f4f4f4;
	border: none;
	border-radius: 20px;
}
#imagespro img{
	margin: 50px;
}
#imagespro  p{
	color: #333;
	font-weight: 500;
	padding: 10px;
	line-height: 1.6em;
	font-size: 16px;
	margin: 20px;
}

#imagespro h2{
	margin: 15px;
	font-weight: 500;
	margin-bottom: 5px;
	text-decoration: underline;
}

#imagespro .im1:hover{
	/*width: 90%;*/
	margin-top: 10px;
	transition: 0.25;
}
#imagespro .im2:hover{
	margin-top: 10px;
	transition: 0.25;
}
#imagespro .im3:hover{
	margin-top: 10px;
	transition: 0.25;
}
#Contact{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 2fr 1fr;
	text-align: center;
	padding: 20px;
	background: #488AC7;
	font-size: 16px;
	color: #f4f4f4;
	font-weight: 500;
	margin: 0;
}

#Contact .Intouch{
	position: relative;
	left: 2%;
	width: 100%;
}

#Contact input[type="text"], input[type="email"]{
	border: 0;
	width: 40%;
	height: 30px;
	padding: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 20px;
	border-color: #333;
	outline: none;
	border: 2px solid #333;
	text-align: center;
}
#Contact textarea{
	margin-top: 20px;
	margin-bottom: 20px;
	width: 35%;
	border: 0;
	border-radius: 5px;
	border: 2px solid #333;
	padding: 10px;
	text-align: center;
}

#Contact input[type="submit"]{
	width: 15%;
	height: 30px;
	border: 0;
	border-radius: 20px;
	background: #333;
	color: #f4f4f4;
	transition: 0.25s;
	border: 2px solid #333;

}
#Contact input[type="submit"]:hover{
	/*width: 20%;*/
	border-color: #333;
	background: #38ACEC;
}

#Contact h2{
	color: #333;
}

footer{
	background: #000;
	height: 50px;
	margin: 0px;
}

@media all and (max-width: 700px){
	body{
		display: flex;
		flex-direction: column;
		font-size: 16px;
		padding: 0px;
		margin: 0px;
		transition: 0.25s;
	}
	header{
		display: flex;
		flex-direction: column;
		height: 35%;
		justify-content: space-evenly;
		margin: 0px;
		padding: 0px;
	}
	header .nav{
		display: flex;
		flex-direction: row;
		float: ;
		margin-bottom: 0px;
	}

	header a:hover{
		text-decoration: none;
		border: 0;
		color:#488AC7 ;
	}
	header .logo{
		margin-top: 20px;
		margin-left: 35px;
		margin-bottom: 0px;
		position: relative;
		top: 30px;
	}
	header .Sign{
		margin-top: 0px;
		display: flex;
		flex-direction: column;
		width: 20%;
		padding: 2px;

	}
	header .Sign button{
		margin: 5px;
	}
	#Welcome{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
	}
	#Welcome .note{
		position: relative;
		top: 200px;
	}
	#About{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		margin: 20px;
		grid-auto-rows: 30%;
	}

	#About .image1{
		width: 100%;
		margin-right: 0px;
		margin-left: 0px;
	}

	#About .about: hover{
		width: 100%;
		margin-left:0px;
	}

	#imagespro{
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: 30%;
		font-size: 16px;
	}
	hr{
		display: flex;
		flex-direction:row;
	}

	#Contact{
		display: flex;
		flex-direction: column;
	}

}

